@*
    Copyright (c) Alessandro Ghidini. All rights reserved.
    Licensed under the MIT License. See License.txt in the project root for license information.
*@
@inherits ToastElementModel
@Css
<div class="@Toast.ContainerClass" style="@Toast.AnimationStyle" onmouseenter="@MouseEnter" onmouseleave="@MouseLeave" onclick="@Clicked">
    <div class="toast-message">
        @if (Toast.ShowProgressBar)
        {
            <div class="@Toast.Options.ProgressBarClass" style="@Toast.ProgressBarStyle"></div>
        }
        @if (Toast.Options.ShowCloseIcon)
        {
            <button type="button" class="@Toast.Options.CloseIconClass" role="button" @onclick="@CloseIconClicked">×</button>
        }
        @if (Title.IsNonEmpty())
        {
            <div class="toast-title">@Title</div>
        }
        @if (Message.IsNonEmpty())
        {
            <div class="toast-message">@Message</div>
        }
    </div>
</div>